extends ../layouts/main.pug
block title
  title About

block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 Contact Page
          p.
            Tacos four dollar toast dreamcatcher austin fingerstache raw denim truffaut blue bottle seitan street art waistcoat messenger bag. Tofu bicycle rights cloud bread, messenger bag hella portland mlkshk pok pok trust fund etsy retro succulents cornhole. Crucifix mixtape tacos tilde etsy, woke taiyaki keffiyeh schlitz cronut. Brooklyn seitan cronut sustainable edison bulb fam. Raclette tumeric drinking vinegar slow-carb vape pickled coloring book master cleanse cray street art green juice copper mug. Subway tile tousled chicharrones, air plant pork belly occupy whatever bitters scenester gentrify pour-over yr. Raw denim lo-fi listicle, authentic af keytar tbh twee. Ugh enamel pin XOXO, food truck waistcoat glossier cornhole brunch plaid helvetica distillery yr activated charcoal typewriter +1. Wayfarers deep v direct trade vice twee yuccie copper mug photo booth.
        div(class="col-md-4")
          img(src="https://www.atomix.com.au/media/2015/06/atomix_user31.png")
