extends ../layouts/main.pug
block title
  title Homepage

block content
  section(class="topHeader")
    div(class="topLeft")
      h1 WEB DEVELOPER
    div(class="topRight")
      img(src="/img/computer.png")
        
  section(class="blog")
    div(class="post")
    div(class="post")
    div(class="post")
    div(class="post")
    div(class="post")
    div(class="post")
