.content-box {
  background: #fff;
  margin: 20px 0;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 5px 60px 0 rgba(222,222,222,1);
  -moz-box-shadow: 0 5px 60px 0 rgba(222,222,222,1);
  box-shadow: 0 5px 60px 0 rgba(222,222,222,1);
}
