extends ../layouts/main.pug
block title
  title Projects

block content
  div(class="container projects-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 Edit Project 
