extends ../layouts/main.pug
block title
  title Projects

block content
  div(class="container projects-page show-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-12")
          h1 Show Project
          p.
            Single-origin coffee hella aesthetic mumblecore yuccie fixie. Everyday carry single-origin coffee brooklyn swag hammock umami brunch, plaid vinyl drinking vinegar art party. Enamel pin hell of subway tile helvetica schlitz hoodie brooklyn fixie YOLO. Snackwave church-key poutine blue bottle squid hashtag, PBR&B occupy dreamcatcher VHS lomo food truck. +1 coloring book you probably haven't heard of them tilde, authentic pok pok listicle raw denim wolf. Messenger bag cray gentrify polaroid, brunch green juice intelligentsia occupy VHS. Taxidermy kinfolk typewriter poke pabst hashtag, swag butcher chartreuse art party. Put a bird on it raw denim taiyaki cliche, coloring book 90's hot chicken edison bulb chambray migas pug retro disrupt bicycle rights. Vegan viral photo booth master cleanse wolf lumbersexual. Umami health goth post-ironic offal selvage, cornhole distillery seitan man bun pinterest retro. Four dollar toast poutine chia activated charcoal subway tile 8-bit vape shabby chic gluten-free cardigan celiac. Fingerstache selfies kickstarter, street art tofu shaman pop-up butcher pinterest beard next level PBR&B ethical tousled. Adaptogen tumblr heirloom coloring book af pour-over seitan. Unicorn plaid live-edge seitan keffiyeh af. Shabby chic man braid PBR&B chia viral kale chips banjo, fanny pack crucifix vaporware iPhone church-key single-origin coffee dreamcatcher.
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/115310/screenshots/3829456/barrel-minimal_1x.jpg")
              
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/115310/screenshots/3829456/barrel-minimal_1x.jpg")
          div(class="col-md-4")
            img(src="https://cdn.dribbble.com/users/115310/screenshots/3829456/barrel-minimal_1x.jpg")
        div(class="col-md-12")
          img(src="https://cdn.dribbble.com/users/115310/screenshots/3829456/barrel-minimal_1x.jpg")  
